@import './../../assets/variables'; 

sebm-google-map {
  width: 100%;
}

agm-map {
  height: 300px;
}


.address-error { 
    position: inherit;
    z-index: 99;
    background-color: $brand-danger;
    color: $white;
    opacity: 0.4;
    text-align: center;
    font-weight: $font-weight-semi-bold;
}

.address-warning {
    position: inherit;
    z-index: 99;
    background-color: $brand-warning;
    color: $black;
    opacity: 0.6;
    text-align: center;
    font-weight: $font-weight-semi-bold;
}

.icono-abrir-mapa {
  cursor: pointer;
}

#modalMap {
  z-index: 1051;
}